# Python
__pycache__/
*.py[cod]

# Ambientes virtuais
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Anaconda / ferramentas locais
anaconda_projects/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Documento local do enunciado
*.docx
